@import "global";
@import "mixins";

// Disable scrolling
html {
    overflow: hidden;
}
body {
	overflow: auto;
}


#versus-section {
	@include horizontal-center;
	width: 185px;
	display: block;
}

canvas {
	@include horizontal-center;
	display: block;
	border: 1px solid black;
	background: $highlight - #661;
}

#codeInput {
	@include horizontal-center;
	width: 800px;
	height: 200px;
}

#code-control {
	@include horizontal-center;
	margin-top: 0.5em;
	button {
		margin-left: 0;
		margin-right: 0;
	}
}
