@import "global";
@import "mixins";

// Disable scrolling
html {
	width: 100%;
	height: 100%;
    overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

#hidden-data {
	display: none;
}


#versus-section {
	@include horizontal-center;
	width: 185px;
	display: block;
}

canvas {
	@include horizontal-center;
	display: block;
	border: 1px solid black;
	background: $highlight - #661;
	width: 90%;
	max-height: 100%;
	max-width: 800px;
}

#codeInput {
	@include horizontal-center;
	margin-top: 10px;
	width: 90%;
	height: 200px;
}

#code-control {
	@include horizontal-center;
	margin-top: 0.5em;
	button {
		margin-left: 0;
		margin-right: 0;
	}
}

#submit-overlay {
    background-color: rgba(50, 50, 50, .93);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000; // On top of everything
    display: none; // By default, do not display at all (this will be changed with js to "table")
    div {
        @include horizontal-center;
        @include width-max-content;
        display: table-cell;
        vertical-align: middle;
        * { display: block; margin: auto; }
    }
}
