@import "global";
@import "mixins";

$button-color: darken($highlight, 10);
$button-hover: darken($button-color, 10);

#gamelist {
    list-style: none;
    @include no-link-style;

    li {
        /*@include width-max-content;*/
        @include transition(all, 0.5s, ease-out);
        padding: .5em;
        margin-bottom: .4em;
        margin-right: 2.5em;
        background-color: $button-color;
        color: #f6f6f6;
        border: 1px solid lighten($button-color, 1);
        &:hover {
            background-color: $button-hover;
        }
        .turn {
            text-indent: 1em;
            display: block;
            font-weight: 300;
        }
        .players {
            font-size: x-large;
            display: block;
        }
    }
}
