{% extends "layout.html" %}
{% import "gametile.html" as gametile %}
{% block includes %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}
{% block body %}
<h2>{{ d['user_info']['username'] }}</h2>
<img class=avatar src="http://gravatar.com/avatar/{{ d['user_info']['hashed_email'] }}?s=230"
    height=230 width=230 />
    <ul id=gamelist>
    {% for game in d['games'] %}
    {{gametile.gametile(game['game_id'], game['players'][0]['username'], game['players'][1]['username'],
        game['players'][0]['hashed_email'], game['players'][1]['hashed_email'], game['turn'])}}
    {% endfor %}
    </ul>
{% endblock %}
