{% macro gametile(game_id, player1_name, player2_name, player1_gravatar, player2_gravatar, turn) %}
<li>
    <a href=/play/{{game_id}}>
        <span class=players>{{player1_name}} vs. {{player2_name}}</span>
        <span class=turn>Turn {{turn}}</span>
    </a>
    <span class=avatar>
        <a href=/user/{{player1_name}}><img src=http://gravatar.com/avatar/{{player1_gravatar}} /></a>
        <a href=/user/{{player2_name}}><img src=http://gravatar.com/avatar/{{player2_gravatar}} /></a>
    </span>
</li>
{% endmacro %}
