{% extends "layout.html" %}
{% block includes %}
	<script src="{{ url_for('static', filename='js/brain-app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/renderer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/unit.js') }}"></script>
	<script src="{{ url_for('static', filename='js/event.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='ace/ace.js') }}"
            type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='ace/mode-lisp.js') }}"
	        type="text/javascript" charset="utf-8"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js">
	</script>
{% endblock %}

{% block body %}
	<div id="text-section">
		<div id='fps-counter'></div>
	</div>
	<div id="interface-section">
		<center>
			<canvas id='canvas' width=800 height=600></canvas>
		</center>
		<div id='codeInput'>some text</div>
		<a href='#' id='submitButton' class='button'>Submit</a>
	</div>

	<style>
		#codeInput {
			width : 800px;
			height : 200px;
			margin-left : auto;
			margin-right : auto;
		}
	</style>
{% endblock %}
