{% extends "layout.html" %}
{% block includes %}
	<script src="{{ url_for('static', filename='js/brain-app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/renderer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/unit.js') }}"></script>
	<script src="{{ url_for('static', filename='js/event.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ui.js') }}"></script>
	<script src="{{ url_for('static', filename='js/particle.js') }}"></script>
    <script src="{{ url_for('static', filename='ace/ace.js') }}"
            type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='ace/mode-lisp.js') }}"
	        type="text/javascript" charset="utf-8"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js">
	</script>
	<link rel=stylesheet type=text/css href={{ url_for('static', filename='css/game.css') }} />
{% endblock %}

{% block body %}
	<div id="hidden-data">
		<span class="game-id">{{ d['game']['game_id'] }}</span>
	</div>

	<div id="text-section">
		<div id='fps-counter'></div>
	</div>
	<div id="versus-section">
		<span class=avatar>
			<a href=/user/{{d['players'][0]['username']}}>
				<img src="http://gravatar.com/avatar/{{ d['players'][0]['hashed_email'] }}?s=75"
				height=75 width=75 /></a>
			vs.
			<a href=/user/{{d['players'][1]['username']}}>
				<img src="http://gravatar.com/avatar/{{ d['players'][1]['hashed_email'] }}?s=75"
				height=75 width=75 />
			</a>
		</span>
	</div>
	<div id="interface-section">
		<canvas id='canvas' width=800 height=450></canvas> <!-- We need to put the width and height here because otherwise the canvas renders as if it were a lower resolution -->
		<div id='codeInput'>some text</div>
		<div id=code-control>
			<button id=resume-code>Resume</button>
			<button id=submit-code>Submit</button>
		</div>
	</div>
{% endblock %}
