{% extends "layout.html" %}
{% block includes %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}
{% block body %}
	<h2>Create an Account:</h2>
	<form method="POST">
		<ul>
            <li>
            	<input type="text" name="username" placeholder="Pick a username" autofocus/>
            </li>
            <li>
            	<input type="email" name="email" placeholder="Enter your email"/>
            </li>
            <li>
            	<input type="password" name="password"
            	       placeholder="Create a password"/>
            </li>
            <li>
         		<input type="password" name="password-conf"
         		       placeholder="Confirm password"/>
         	</li>
            <li>
            	<button type="submit" id=create>Create</button>
            	<a href=/login>I already have an account</a>
			</li>
		</ul>
	</form>
{% endblock %}
