{% extends "layout.html" %}
{% block includes %}
<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
      rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js">
</script>
{% endblock %}
{% block body %}
	<h2>Create a game</h2>
	<form method="POST">
		<input type="text" name="opponent" id="opponent" placeholder="Opponent"/>
        Map:
        <select name="map">
            {% for map in d['maps'] %}
            <option>{{map}}</option>
            {% endfor %}
        </select>
        <br>
		<input type="hidden" name="user" value="{{ d['user']['username'] }}">
		<button type="submit">Create</button>
	</form>
	<script>
		$(function() {
			$("#opponent")
				.bind("keydown", function(event) {
					if (event.keyCode === $.ui.keyCode.TAB &&
						$(this).data("ui-autocomplete").menu.active) {
						event.preventDefault();
					}
				})
				.autocomplete({
					source: function(request, response) {
						$.post("/action", {
							action: 'match-username',
							username: request.term
						}, function(data) {
							return response(data);
						}, "json");
					},
					select: function(event, ui) {
						this.value = ui.item.value;
						$("#opponent").val(ui.item.value);
						return false;
					}
				});
		});
	</script>
{% endblock %}
