{% extends "layout.html" %}
{% block includes %}
<link rel=stylesheet type=text/css href={{url_for('static', filename='css/versus.css')}} />
<script src={{ url_for('static', filename='js/versus.js')}} ></script>
{% endblock %}
{% block body %}
<a href=# id=create>Create a Game</a>
<h2>Existing Games:</h2>
<ul id=gamelist>
    {% for i in range(10) %}
    <li>
        <a href=#>
            <span class=players>Bob vs. Alice</span>
            <span class=turn>Turn 12</span>
        </a>
        <span class=avatar>
            <a href=/user/fred><img src=http://gravatar.com/avatar/af050dd3d837db6cb339d7b09d94dad5 /></a>
            <a href=/user/wilma><img src=http://gravatar.com/avatar/af050dd3d837db6cb339d7b09d94dad5 /></a>
            <a href=/user/pebbles><img src=http://gravatar.com/avatar/af050dd3d837db6cb339d7b09d94dad5 /></a>
        </span>
    </li>
    <li>
        <a href=#>
            <span class=players>Janet vs. Sam</span>
            <span class=turn>Turn 3</span>
        </a>
        <span class=avatar>
            <a href=/user/barney><img src=http://gravatar.com/avatar/af050dd3d837db6cb339d7b09d94dad5 /></a>
            <a href=/user/betty><img src=http://gravatar.com/avatar/af050dd3d837db6cb339d7b09d94dad5 /></a>
            <a href=/user/bambam><img src=http://gravatar.com/avatar/af050dd3d837db6cb339d7b09d94dad5 /></a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
