{% extends "layout.html" %}
{% block includes %}
<link rel=stylesheet type=text/css href={{url_for('static', filename='css/versus.css')}} />
<script src={{ url_for('static', filename='js/versus.js')}} ></script>
{% endblock %}
{% block body %}
<a href=# id=create>Create a Game</a>
<h2>Existing Games:</h2>
<ul id=gamelist>
    <a href=#>
        <li>
        <span class=players>Bob vs. Alice</span>
        <span class=turn>Turn 12</span>
        </li>
    </a>
    <a href=#>
        <li>
        <span class=players>Janet vs. Sam</span>
        <span class=turn>Turn 3</span>
        </li>
    </a>
</ul>
{% endblock %}
